/* html5doctor.com/html-5-reset-stylesheet/ */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,time,mark,audio,video { margin:0;padding:0;border:0;outline:0;font-size:100%;font-weight : normal;vertical-align:baseline;background:transparent; } 
body { line-height:1; }
ol,ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:'';content:none; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse;border-spacing:0; }

/*----------------------------------------------------------------------*/

/*VARIABLES GLOBALES*/
:root {
--lightpink : rgba(203, 153, 126, 1);
--blue 		: rgba(27, 64, 121, 1);
--lightblue : rgba(77, 124, 138, 1);
--white		: rgba(254, 241, 231, 1);
--alpha		: rgba(0, 0, 0, 0.5);


}

body{
	background-color: var(--white);
	font-family: 'Work Sans', sans-serif;
}

li a{
	color: var(--white);
	font-size: 2.5vw;
}

a{
	text-decoration: none;
}

h1{
	color: var(--blue);
	font-size: 4.375vw;
	text-align: center;
	font-family: 'Merriweather', serif;
	padding:4rem 0;
	text-decoration: underline;
	text-decoration-color: var(--lightblue);
	text-decoration-thickness: 25%;
	text-underline-offset: .5em;
	text-transform: uppercase;
}

h2{
	font-family: 'Merriweather', serif;
	font-size: 5vw;
	text-transform: uppercase;
}

h3{
	font-size: 2.5vw;
	font-family: 'Merriweather', serif;
}

h4{
	font-size: 1.8vw;
	font-family: 'Merriweather', serif;
	text-decoration: underline;
}

p{
	font-size: 1.8vw;
	font-family: 'Work Sans', sans-serif;
}

textarea{
	font-family: 'Work Sans', sans-serif;
}

input{
	font-family: 'Work Sans', sans-serif;
}

.btn_bleu{
	background-color: var(--lightblue);
	border-radius: 1rem;
	color: var(--white);
	font-size: 2.5vw;
	border:none;
}

/*HEADER*/

header img{
	width:100%;
	height: 75vh;
	object-fit: cover;
	object-position: center;
}

header nav {
	background-color: var(--lightpink);
	position: fixed;
	top: 0;
  width: 100%;
  display: none;
  z-index: 2;
  border-bottom:1px solid black;
}

header nav ul {
	display: flex;
	margin: auto;
	width: 80%;
	justify-content: space-around;
}

header nav ul li{
	padding:.5em 10vw;
}

/*FOOTER*/

footer{
	background-color: var(--lightblue);
	height: 56vh;
	margin-top:20vh;
	display: flex;
}

footer div{
	width: 50%;
	padding-left:10%;
}

footer div h3{
		padding-top: 6vh;
		padding-bottom: 2vh;
}

footer div ul{
	font-size: 1.875em;
	font-family: 'Work Sans', sans-serif;
}

footer img{
	width: 50%;
	display: inline-block;
	margin-top: 5vh;
}

footer tr{
	border-bottom: solid black .4em;

}

footer td:first-child{
	padding-right:2.5em;
	width: 2vw;
}


/*GALERIE*/

.galerie{
  width: 90%;
  height: 100vh;
  margin: 4rem auto;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  gap: 2% 2%; 
  grid-template-areas: 
    ". img2"
    "img1 img2"
    "img1 img2"
    "img1 img2"
    "img1 img3"
    "img1 img3"
    ". img3"; 
}

.galerie img{
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
	border-radius: 2.5em;
	box-shadow: .5em .5em 1em var(--alpha);
}

.galerie .img1 { 
	grid-area: img1; 
}

.galerie .img2 { 
grid-area: img2; 
}

.galerie .img3 { 
grid-area: img3; 
}

.galerie div{
	position:absolute;
	background-color: var(--lightpink);
	height: 80vh;
	width: 100%;
	margin-top:10vh;
	margin-bottom:10vh;
	z-index: -1;
	left:0;
}

/*PRESENTATION*/
.presentation_equipe{
	display: flex;
	align-items: center;

}

.presentation_equipe p{
	display: inline-block;
	width: 50%;
	padding: 0 5%;
	text-align: right;
}

.presentation_equipe img{
	display: inline;
	width: 35vh;
	height: 35vh;
	border-radius: 50%;
	border: solid var(--lightpink) 5em;
	object-fit: cover;
	float: right;
	margin-right: 15%;
}

.presentation_equipe div{
	position:absolute;
	background-color: var(--lightpink);
	height: 40vh;
	width: 100%;
	margin-top:10vh;
	margin-bottom:10vh;
	z-index: -1;
	left:0;
}


/*DESCRIPTION*/

.description{
	position: relative;
	height: 110vh;
	margin-top:10vh;
}

.description img{
	height: 110vh;
	border-radius: 2em;
	position: absolute;
	left:10%;
}

.description div{
	width: 90vh;
	height: 90vh;
	background-color: var(--lightblue);
	border-radius: 50%;
	position: absolute;
	left:45%;
	top:10vh;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: -1;
	box-shadow: .5em .5em 1em var(--alpha);
}

.description div ul{
	list-style: inside;
	color : var(--white);
	font-size: 2.5em;
	display: grid;
  gap: 5vh;
}

/*CARTE*/
.carte{
	background-image: url("./img/paper.jpg");
	background-position: center;
	background-size:cover ;
	background-repeat: no-repeat;
	height: 80vh;
	width: 90%;
	margin: auto;
	border-radius: 2.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: .5em .5em 1em var(--alpha);
	margin-top:10vh;
}

.carte div{
	position:absolute;
	background-color: var(--lightpink);
	height: 50vh;
	width: 100%;
	margin-top:10vh;
	margin-bottom:10vh;
	left:0;
	z-index: -1;
}

.carte h2{
	margin-top:10vh;
	margin-bottom:5vh;
}

/*FORMULAIRE*/
.titre_formulaire{
	margin-top: 8vh;
	margin-bottom: 8vh;
	margin-left: 4vh;
}

.formulaire{
	background-color: var(--lightpink);
	display: grid; 
	padding:8vh 19vw;
  grid-template-columns: 25vw 25vw; 
  grid-template-rows: 3vw 3vw  3vw  3vw ; 
  gap: 2vw 10vw; 
  grid-template-areas: 
    "input1 input2"
    "input3 input3"
    "input4 input4"
    "input4 input4"
    ". input5"; 
}

.formulaire .champ_contact{
	background-color: var(--white);
	display: inline-block;
}

.input1 { grid-area: input1; }
.input2 { grid-area: input2; }
.input3 { grid-area: input3; }
.input4 { grid-area: input4; }
.input5 { grid-area: input5; }



.formulaire .btn_bleu{
	float:right;
}


/*PANEL ADMIN*/
.panelAdmin{
  display: grid;
  margin : 0 2.5vw;
  padding: 5vh 5vw;
  height: 150vh; 
  width: 85vw;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 5% 5%; 
  grid-template-areas: 
    "Plats Menus"
    "Images Horaires"; 
  background-color: var(--lightpink);
}

.panelAdmin > div{
  background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: .5em .5em 1em var(--alpha);
	border-radius: 1.5em;
}

.Plats { 
	grid-area: Plats; 
	background-image: url("./img/pasta.jpg");
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50vh;
}

.Plats div{
	background-color: var(--white);
	padding: 2.5vw;
	border-radius: 1em;
}

.Menus { 
	grid-area: Menus;
  background-image: url("./img/cheese.jpg");
  display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50vh;
}

.Menus div{
	background-color: var(--white);
	padding: 2.5vw;
	border-radius: 1em;
}

.Images { 
	grid-area: Images; 
	background-color: var(--white);
}

.Images div{
	position:relative;
}

.galerie_admin{
  display: grid; 
  padding: 1vh;
  height: 80%;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;  
  gap:1% 1%;
  grid-template-areas: 
    ". img2"
    "img1 img2"
    "img1 img2"
    "img1 img2"
    "img1 img3"
    "img1 img3"
    ". img3"; 
}

.galerie_admin img{
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
	border-radius: 1em;	
	box-shadow: .5em .5em 1em var(--alpha);
}

.galerie_admin .img1 { 
	grid-area: img1; 
}

.galerie_admin .img2 { 
grid-area: img2; 
}

.galerie_admin .img3 { 
grid-area: img3; 
}

.Images input[type=submit]{
display: block;
background-color: var(--lightblue);
color:var(--white);
padding:2vh 5vw;
border-radius: 1.5em;
margin-bottom: 3vh;
margin-left:3vw;
}

.Images form div input{
	position: absolute;
}

#img1{
  top: 40%;
  right: 10%;
  left:10%;
  width: 60%;
  background-color: var(--white);
  padding: 10%; 
  display: block;
  border-radius: 1.5em;

}
#img2{
  top: 40%;
  right: 10%;
  left:10%;
  width: 60%;
  background-color: var(--white);
  padding: 10%; 
  display: block;
  border-radius: 1.5em;
}
#img3{
  top: 40%;
  right: 10%;
  left:10%;
  width: 60%;
  background-color: var(--white);
  padding: 10%; 
  display: block;
  border-radius: 1.5em;
}


.Horaires { 
	grid-area: Horaires; 
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Horaires textarea{
	resize: none;
	margin-bottom:1vw ;
	display: block;
}

.Horaires input[type=submit]{
display: block;
	background-color: var(--lightblue);
	color:var(--white);
	padding:2vh 5vw;
	border-radius: 1.5em;
	margin:auto;
}

.Horaires input{
	margin-bottom:1vw ;
	display: block;
}

.Horaires h3{
text-decoration: underline;
margin: auto;
margin-bottom: 4vh;
margin-top:8vh;
}

.navAdmin{
	background-color: var(--lightpink);
	margin-bottom: 5vh ;
	padding : 2vh 3vw;
	display: flex;
	align-items: center;
	 justify-content: space-between;

}

.navAdmin div span{
	color:var(--white);
	font-size: 2.5vw;
}

.navAdmin div a{
	color:var(--blue);
	font-size: 1.3vw;
	text-decoration: underline;
}

.retourSite{
	background-color: var(--lightblue);
	color:var(--white);
	padding:2vh 1vw;
	border-radius: 1.5em;
}

.connexion{
	display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr;
  gap: 0px 5%; 
  grid-template-areas: 
    "formConnexion illuConnexion"; 
   background-color: var(--lightpink);
   height: 80vh;
   margin : 0 5vw;
   width: 90vw;
}

.illuConnexion { 
	grid-area: illuConnexion; 
	object-fit: cover;
	object-position: center;
	height: 100%;
	width: 100%;
}

.formConnexion { 
	grid-area: formConnexion; 
}

.formConnexion form{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 40vh;
	padding:0 5vw;
}

.formConnexion input{
	height: 5vh;
}

.formConnexion input[type=submit]{
display: block;
	background-color: var(--lightblue);
	color:var(--white);
	border-radius: 1.5em;
	width: 10vw;
	margin-left: 20vw;

}

