/* html5doctor.com/html-5-reset-stylesheet/ */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,time,mark,audio,video { margin:0;padding:0;border:0;outline:0;font-size:100%;font-weight : normal;vertical-align:baseline;background:transparent; } 
body { line-height:1; }
ol,ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:'';content:none; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse;border-spacing:0; }

/*----------------------------------------------------------------------*/

/*VARIABLES GLOBALES*/
:root {
--lightpink : rgba(218, 175, 152, 1);
--pink      : rgba(159, 107, 90, 1);
--blue 		  : rgba(27, 64, 121, 1);
--lightblue : rgba(77, 124, 138, 1);
--white		  : rgba(254, 241, 231, 1);
--alpha		  : rgba(0, 0, 0, 0.5);
}

body{
	background-color: var(--white);
	font-family: 'Work Sans', sans-serif;
}

li a{
	color: var(--white);
	font-size: 2.5vw;
}

a{
	text-decoration: none;
}

h1{
	color: var(--blue);
	font-size: 4.375vw;
	text-align: center;
	font-family: 'Merriweather', serif;
	padding:2rem 0;
	text-decoration: underline;
	text-decoration-color: var(--lightblue);
	text-decoration-thickness: 25%;
	text-underline-offset: .5em;
	text-transform: uppercase;
}

h2{
	font-family: 'Merriweather', serif;
	font-size: 5vw;
	text-transform: uppercase;
}

h3{
	font-size: 2.5vw;
	font-family: 'Merriweather', serif;
}

h4{
	font-size: 1.8vw;
	font-family: 'Merriweather', serif;
	text-decoration: underline;
}

p{
	font-size: 2.5vw;
	font-family: 'Work Sans', sans-serif;
}

textarea{
	font-family: 'Work Sans', sans-serif;
}

input{
	font-family: 'Work Sans', sans-serif;
}

.btn_bleu{
	background-color: var(--lightblue);
	border-radius: 1rem;
	color: var(--white);
	font-size: 2.5vw;
	border:none;
}

/*HEADER*/

header img{
	width:100%;
	height: 20vh;
	object-fit: cover;
	object-position: center;
}

header nav {
	background-color: var(--lightpink);
	position: fixed;
	top: 0;
  width: 100%;
  display: none;
  z-index: 2;
  border-bottom:1px solid black;
}

header nav ul {
	display: flex;
	margin: auto;
	width: 80%;
	justify-content: space-around;
}

header nav ul li{
	padding:.5em 10vw;
}

/*FOOTER*/

footer{
	background-color: var(--lightblue);
	border-top:.5vh solid var(--lightblue);
	height: 32.2vh;
	margin-top:10vh;
	display: flex;
}

footer div{
	width: 50%;
	height: 100%;
	padding-left:10%;
}

footer div h3{
		padding-top: 3vh;
		padding-bottom: 1vh;
		font-size: 3vw;
}

footer div ul{
	font-size: 2.5vw;
	font-family: 'Work Sans', sans-serif;
}

footer img{
	object-fit: cover;
	height: 100%;
	width: 50%;
	display: inline-block;
}

footer tr{
	border-bottom: solid black .4em;
}

footer td:first-child{
	padding-right:2.5em;
	width: 2vw;
}


/*GALERIE*/

.galerie{
  width: 100%;
  height: 40vh;
  margin-top: 5vh;
}

.galerie img{
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
	box-shadow: .5em .5em 1em var(--alpha);
}


.galerie .img2 { 
display: none;
}

.galerie .img3 { 
display: none;
}

/*PRESENTATION*/
.presentation_equipe{
	margin-top: 10vh;
	display: flex;
	align-items: center;

}

.presentation_equipe p{
	display: inline-block;
	width: 50%;
	padding: 0 5%;
	text-align: right;
}

.presentation_equipe img{
	display: inline;
	width: 20vh;
	height: 25vh;
	object-fit: cover;
	float: right;
	margin-right: 15%;
	border-radius: 1em;
}

.presentation_equipe div{
	position:absolute;
	background-color: var(--lightpink);
	height: 20vh;
	width: 100%;
	z-index: -1;
	left:0;
}


/*DESCRIPTION*/

.description{
	position: relative;
	height: 50vh;
	margin-top:5vh;
}

.description img{
	height: 50vh;
	width: 45vw;
	object-fit: cover;
	border-radius: 2em;
	position: absolute;
	left:5%;
}

.description div{
	width: 40vh;
	height: 40vh;
	background-color: var(--lightblue);
	border-radius: 50%;
	position: absolute;
	left:40%;
	top:5vh;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: -1;
	box-shadow: .5em .5em 1em var(--alpha);
}

.description div ul{
	list-style: inside;
	color : var(--white);
	font-size: 3vw;
	display: grid;
  gap: 4vh;
  padding-left: 8vw;
}

/*CARTE*/
.carte{
	background-image: url("./img/paper.jpg");
	background-position: center;
	background-size:cover ;
	background-repeat: no-repeat;
	width: 70%;
	margin: auto;
	border-radius: 2.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: .5em .5em 1em var(--alpha);
	padding-bottom: 5vh;
	padding-top:2.5vh;
	margin-top:2.5vh;
}

.carte div{
	position:absolute;
	background-color: var(--lightpink);
	height: 50%;
	width: 100%;
	margin-top:5vh;
	margin-bottom:10vh;
	left:0;
	z-index: -1;
}

.carte table{
	width: 60%;
}

.carte td:last-child {
	text-align: right;
}

.carte tr{
	border-bottom: 1px solid black;
}

.carte h2{
	margin-top:5vh;
	margin-bottom:3vh;
	border-bottom: .05em solid black;
	font-size: 4vw;
}

.carte h3{
	margin-top:2vh;
	margin-bottom:2vh;

}


/*FORMULAIRE*/
.titre_formulaire{
	margin-top: 2vh;
	margin-bottom: 4vh;
	margin-left: 4vh;
}

.formulaire{
	background-color: var(--lightpink);
	padding:5vh 5vw;
}

.formulaire .champ_contact{
	background-color: var(--white);
	display: inline-block;
}


.formulaire .btn_bleu{
	float:right;
}

.formulaire textarea{
	width: 80%;
	margin: auto;
}

/*PANEL ADMIN*/
.panelAdmin{
  display: grid;
  margin : 0 2.5vw;
  padding: 5vh 5vw;
  height: 150vh; 
  width: 85vw;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 5% 5%; 
  grid-template-areas: 
    "Plats Menus"
    "Images Horaires"; 
  background-color: var(--lightpink);
}

.panelAdmin > div{
  background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: .5em .5em 1em var(--alpha);
	border-radius: 1.5em;
}

.Plats { 
	grid-area: Plats; 
	background-image: url("./img/pasta.jpg");
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50vh;
	width: 100%;
}

.Plats a{
	color:black;
}

.Plats a:hover{
	color:var(--blue);
}

.Plats div{
	background-color: var(--white);
	padding: 2.5vw;
	border-radius: 1em;
}

.Menus { 
	grid-area: Menus;
  background-image: url("./img/cheese.jpg");
  display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50vh;
}

.Menus div{
	background-color: var(--white);
	padding: 2.5vw;
	border-radius: 1em;
}

.Menus a{
	color:black;
}

.Menus a:hover{
	color:var(--blue);
}
.Images { 
	grid-area: Images; 
	background-color: var(--white);
}

.Images h3{
padding-top:5vh;
padding-left: 5vw;
text-decoration: underline;

}

.Images div{
	position:relative;
}

.galerie_admin{
  display: grid; 
  padding: 0 1vw;
  height: 80%;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;  
  gap:1% 1%;
  grid-template-areas: 
    ". img2"
    "img1 img2"
    "img1 img2"
    "img1 img2"
    "img1 img3"
    "img1 img3"
    ". img3"; 
}

.galerie_admin img{
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
	border-radius: 1em;	
	box-shadow: .5em .5em 1em var(--alpha);
}

.galerie_admin .img1 { 
	grid-area: img1; 
}

.galerie_admin .img2 { 
grid-area: img2; 
}

.galerie_admin .img3 { 
grid-area: img3; 
}

.Images input[type=submit]{
display: block;
background-color: var(--lightblue);
color:var(--white);
padding:2vh 5vw;
border-radius: 1.5em;
margin-bottom: 3vh;
margin-left:3vw;
}

.Images form div input{
	position: absolute;
}

#img1{
  top: 40%;
  right: 10%;
  left:10%;
  width: 60%;
  background-color: var(--white);
  padding: 10%; 
  display: block;
  border-radius: 1.5em;

}
#img2{
  top: 40%;
  right: 10%;
  left:10%;
  width: 60%;
  background-color: var(--white);
  padding: 10%; 
  display: block;
  border-radius: 1.5em;
}
#img3{
  top: 40%;
  right: 10%;
  left:10%;
  width: 60%;
  background-color: var(--white);
  padding: 10%; 
  display: block;
  border-radius: 1.5em;
}


.Horaires { 
	grid-area: Horaires; 
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Horaires textarea{
	resize: none;
	margin-bottom:1vw ;
	display: block;
}

.Horaires input[type=submit]{
display: block;
	background-color: var(--lightblue);
	color:var(--white);
	padding:2vh 5vw;
	border-radius: 1.5em;
	margin:auto;
}

.Horaires input{
	margin-bottom:1vw ;
	display: block;
}

.Horaires h3{
text-decoration: underline;
margin: auto;
margin-bottom: 4vh;
margin-top:8vh;
}

.navAdmin{
	background-color: var(--lightpink);
	margin-bottom: 5vh ;
	padding : 2vh 3vw;
	display: flex;
	align-items: center;
	 justify-content: space-between;

}

.navAdmin div a:first-child  {
	color:var(--white);
	font-size: 2.5vw;
	text-decoration: none;
	border-bottom: solid .05em white ;
	margin-right: .5em;
}

.navAdmin div a:first-child:hover{
	background-color: var(--pink);
}

.navAdmin div a{
	color:var(--blue);
	font-size: 1.3vw;
	text-decoration: underline;
}

.retourSite{
	background-color: var(--lightblue);
	color:var(--white);
	padding:2vh 1vw;
	border-radius: 1.5em;
}

.connexion{
	display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr;
  gap: 0px 5%; 
  grid-template-areas: 
    "formConnexion illuConnexion"; 
   background-color: var(--lightpink);
   height: 80vh;
   margin : 0 5vw;
   width: 90vw;
}

.illuConnexion { 
	grid-area: illuConnexion; 
	object-fit: cover;
	object-position: center;
	height: 100%;
	width: 100%;
}

.formConnexion { 
	grid-area: formConnexion; 
}

.formConnexion form{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 40vh;
	padding:0 5vw;
}

.formConnexion input{
	height: 5vh;
}

.formConnexion input[type=submit]{
display: block;
	background-color: var(--lightblue);
	color:var(--white);
	border-radius: 1.5em;
	width: 10vw;
	margin-left: 20vw;
}


/*LES PLATS*/
.plats {
  display: grid; 
  grid-template-columns: 0.5fr 1.5fr; 
  grid-template-rows: 1fr; 
  gap: 0px 5%; 
  grid-template-areas: 
    "listePlats detailsPlats"; 
}
.detailsPlats { 
	grid-area: detailsPlats; 
}
.listePlats { 
	grid-area: listePlats; 
	margin:auto;
	height:75vh;
	overflow: scroll;
	border: .2em solid black;
}


.listePlats li{
	padding: 1vh 0;
	background-color: var(--lightpink);
	color:var(--white);
	font-size: 1.5vw;
	border-bottom: .1em solid black;
}

.listePlats li:hover{
	background-color: var(--pink);
	cursor: pointer;
	color:black;
}

.detailsPlats input{
	margin-bottom: 2vh;
}

.detailsPlats select{
	margin-bottom: 2vh;
}

.detailsPlats fieldset{
	margin-bottom: 2vh;
}

.detailsPlats label{
	width: 10vw;
	display: inline-block;
}

.detailsPlats input[name='description']{
	width: 40vw;
	height: 5vh;
}

.detailsPlats input[name='name']{
	width: 15vw;
}

.detailsPlats input[name='price']{
	width: 15vw;
}

input[name='name']+ label{
margin-left: 4vw;
display: inline;
}

.detailsPlats h4{
	margin-bottom:10vh;
}

legend{
	text-decoration: underline;
}

.detailsPlats input[type='submit']{
display: block;
background-color: var(--lightblue);
color:var(--white);
padding:2vh 5vw;
font-size: 1.2vw;
border-radius: 1.5em;
margin-bottom: 3vh;
margin-left:3vw;
}

.retour_admin{
	background-color: var(--lightblue);
	position: absolute;
	right:5em;
	padding:0.5vw 0.5vh;
	color:var(--white);
	font-size: 1.2vw;
	margin-right: 10vw;
	border-radius: 1.5em;
}

/*LES MENUS*/
.menus {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 5%; 
  grid-template-areas: 
    "menuMidi menuSoir"; 
}
.menuMidi { grid-area: menuMidi; }
.menuSoir { grid-area: menuSoir; }

/*PROFIL*/
.profil input[name='mailAdmin']{
	min-width: 25vw;
}

.profil input{
	position: absolute;
	left:10vw;
}

.profil li{
	margin-bottom: 1em;
	width: 50vw;
	display: flex;
}

.profil label{
	min-width: 5vw;
	margin-right: 1em;
}






/*VUE MOBILE*/